@import "mixin.scss";

$alturaDoBanner: 696px;

.classeCarrossel {
  position: relative;
  overflow: hidden;
  height: $alturaDoBanner;

  .itens {
    width: 20000em;
    position: absolute;
    @include transition(1s);
    left: 0vw;

    & > * {
      height: $alturaDoBanner;
      width: 100vw;
      float: left;
      overflow: visible;


      // --- Colocar invisivel texto dentro do item ---
      // text-indent: 100000%;
      // color: #00000000;
    }
  }
}

.setas a {
  position: absolute;
  top: 50%;
  outline: 0;
  width: 37px;
  height: 82px;
  text-indent: -9999px;
  z-index: 99;
  cursor: pointer;
  @include background-size(cover!important);

  &:first-child {
    left: 10px;
    background: url(esquerda.png) no-repeat;
  }
  &:last-child {
    right: 10px;
    background: url(direita.png) no-repeat;
    // &::before, &::after{
    //   width: 54px;
    //   height: 8px;
    //   position: absolute;
    //   border-radius: 80px;
    //   color: #ffffffaa;
    //   background: currentColor;
    //   box-shadow: 0 0 1px 0px currentColor;
    //
    //   content: '';
    // }
    // &::before{
    //   top: 19px;
    //   left: -7px;
    //   transform: rotate(52deg);
    // }
    // &::after{
    //   bottom: 19px;
    //   left: -7px;
    //   transform: rotate(-52deg);
    // }
  }
}

.notransition {
  @include transition(none !important);
}

.indicador {
  text-align: center;
  width: 100%;
  bottom: 7%;
  position: absolute;
  & > * {
    display: inline-block;
    margin: 0 20px;
  }
  a {
    position: absolute;
    outline: 0;
    width: 20px;
    height: 20px;
    z-index: 99;
    cursor: pointer;
    background-color: white;
    @include border-radius(20px);
    @include box-shadow(0px 0px 0px 4px white);
    &.ativo,
    &:hover {
      @include box-shadow(0px 0px 0px 4px white);
      background-color: #a3151a;
    }
  }
}
