.classeCarrossel {
  position: relative;
  overflow: hidden;
  height: 696px;
}
.classeCarrossel .itens {
  width: 20000em;
  position: absolute;
  /*animation-delay: 1s;*/
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-animation: slideOut 1s;
  -moz-animation: slideOut 1s;
  -ms-animation: slideOut 1s;
  -o-animation: slideOut 1s;
  animation: slideOut 1s;
  left: 0vw;
}
.classeCarrossel .itens > * {
  height: 696px;
  width: 100vw;
  float: left;
  overflow: visible;
  text-indent: 100000%;
  color: #00000000;
}

.setas a {
  position: absolute;
  top: 50%;
  outline: 0;
  width: 37px;
  height: 84px;
  text-indent: -9999px;
  z-index: 9999;
  cursor: pointer;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.setas a:first-child {
  left: 10px;
  background: url(esquerda.png) no-repeat;
}
.setas a:last-child {
  left: 10px;
  background: url(direita.png) no-repeat;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

.indicador {
  text-align: center;
  width: 100%;
  bottom: 4%;
  position: absolute;
}
.indicador > * {
  display: inline-block;
  margin: 0 20px;
}
.indicador a {
  position: absolute;
  outline: 0;
  width: 20px;
  height: 20px;
  z-index: 9999;
  cursor: pointer;
  background-color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  /*box-shadow: 0px 0px 0px 1px white;*/
}
.indicador a.ativo, .indicador a:hover {
  /*box-shadow: 0px 0px 0px 1px white;*/
  background-color: #a3151a;
}
