.classeCarrossel {
  position: relative;
  overflow: hidden;
  height: 696px;
}
.classeCarrossel .itens {
  width: 20000em;
  position: absolute;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  transition: 1s;
  left: 0vw;
}
.classeCarrossel .itens > * {
  height: 696px;
  width: 100vw;
  float: left;
  overflow: visible;
}

.setas a {
  position: absolute;
  top: 50%;
  outline: 0;
  width: 37px;
  height: 82px;
  text-indent: -9999px;
  z-index: 99;
  cursor: pointer;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -ms-background-size: cover !important;
  background-size: cover !important;
}
.setas a:first-child {
  left: 10px;
  background: url(esquerda.png) no-repeat;
}
.setas a:last-child {
  right: 10px;
  background: url(direita.png) no-repeat;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.indicador {
  text-align: center;
  width: 100%;
  bottom: 7%;
  position: absolute;
}
.indicador > * {
  display: inline-block;
  margin: 0 20px;
}
.indicador a {
  position: absolute;
  outline: 0;
  width: 20px;
  height: 20px;
  z-index: 99;
  cursor: pointer;
  background-color: white;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0px 0px 0px 4px white;
  -moz-box-shadow: 0px 0px 0px 4px white;
  -ms-box-shadow: 0px 0px 0px 4px white;
  box-shadow: 0px 0px 0px 4px white;
}
.indicador a.ativo, .indicador a:hover {
  -webkit-box-shadow: 0px 0px 0px 4px white;
  -moz-box-shadow: 0px 0px 0px 4px white;
  -ms-box-shadow: 0px 0px 0px 4px white;
  box-shadow: 0px 0px 0px 4px white;
  background-color: #a3151a;
}
